<link rel="stylesheet" type="text/css" href="app/main/main.css">
<div class="main-container row">
   
    <div class="carousel carousel-slider center" carousel="control.slider" duration="control.duration" >
        <div id="slide-1" class="carousel-item red white-text">
            <h1>Tire sua ideia do papel</h1>
            <h4>Com soluções inovadoras, alavancamos seu negócio</h4>
        </div>
        <div id="slide-2" class="carousel-item amber white-text">
                <h1>Desenvolvemos Dispositivos Eletrônicos</h1>
                <h4>Desde placas eletrônicas a IoT (Internet das Coias)</h4>
        </div>
        <div id="slide-3" class="carousel-item green white-text">
                <h1>Controle suas medições Laboratoriais</h1>
                <h4>Desenvolva aparelhos para suas pesquisa</h4>
        </div>
        <div id="slide-4" class="carousel-item blue white-text">
                <h1>Protótipos funcionais para Indústri 4.0</h1>
                <h4>Aumente sua produtividade e reduza os custos</h4>
        </div>
    </div>

    <section id="service" class="container">
        <div class="row">
            <div class="col s12 center"> 
                <h1>Nossos Servios</h1>
            </div>
            <div class="c col s12 m4">
                <h4>Desenvolvimento e Automação de Máquinas</h4>
                <img class="resposive-img" src="vendor/images/services/automation.png" >
                <ol>
                    <li>Projetos Elétrico</li>
                    <li>Montagem de Painéis Elétricos</li>
                    <li>Programação de CLP's</li>
                    <li>Supervisório e IHM</li>
                    <li>Parametrização de Equipamentos</li>
                    <li>Projetos Mecânicos</li>
                    <li>Montagem Mecânica</li>        
                </ol>
                <p>Quer aumentar sua produtividade e reduzir seus custos com a automação dos seus processos?</p>
                <button class="btn btn-flat waves-effect waves-orange">Clique aqui</button>
            </div>
            <div class="c col s12 m4">
                <h4>DESENVOLVIMENTO DE DISPOSITIVOS ELETRÔNICOS</h4>
                <img class="resposive-img" src="vendor/images/services/eletronic.png" >
                <ol>
                    <li>Desenvolvimento de protótipos funcionais</li>
                    <li>Desenvolvimento de produtos</li>
                    <li>Placas eletrônicas</li>
                    <li>IoT (Internet das coisas)</li>        
                </ol>
                <p>Possui uma ideia e quer entrar no mercado, porém precisa de conhecimento técnico?</p>
                <button class="btn btn-flat waves-effect waves-orange">Clique aqui</button>
            </div>
            <div class="c col s12 m4">
                <h4>Automação Laboratorial</h4>
                <img class="resposive-img" src="vendor/images/services/laboratory.png" >
                <ol>
                    <li>Controle medições laboratoriais</li>
                    <li>Controle de motores, bombas e válvulas</li>
                    <li>Dosagem</li>
                    <li>Software de acompanhamento dos dados obtidos por sensores</li>
                    <li>Geração de relatórios, gráficos e planilhas</li>
                </ol>
                <p>Precisa de um aparelho novo para sua pesquisa que só pode ser encontrado fora do país ou que não existe?</p>
                <button class="btn btn-flat waves-effect waves-orange">Clique aqui</button>
            </div>
        </div>
    </section>

    <hr>
    
    <section id="contact" class="container">
        <div class="row">
            <h1 class="center">PEÇA SEU PROJETO</h1>
            <h4 class="centers">Sem nenhum custo, entenderemos melhor a sua necessidade e faremos um orçamento exclusivo para o seu projeto.</h4>
        </div>

        <div class="row">
            <form class="col s12 m8 offset-m2">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" ng-model="guest.name">
                        <label for="name">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" ng-model="guest.email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" rows="25"></textarea>
                        <label for="textarea1">Decreva seu problema ou ideia.</label>
                    </div>
                </div>
            </form>
        </div>
                        
    </section>

</div>
 
