.main-container {
}

.main-container > .row {
    margin: 0 !important;
}

.main-container .carousel-item > h1,
.main-container .carousel-item > h4 {
    padding-left: 20%;
    padding-right: 20%;
    text-transform: uppercase;
}

.main-container .carousel-item > h1 {
    font-size: 5rem;
    margin-bottom: 30px;
}
