footer {
    background-color: rgba(235, 235, 235, 1);
    margin: 0;
    padding: 60px 16px 20px 16px;
}

.footer-container .row {
    margin-bottom: 0;
}

.footer-container #footer-logo {
    width: 150px;
}

.footer-container #social-media img {
    margin: 4px 8px;
}

